<div>
    <h2>
        {{title}}
    </h2>

    <h3>
        ({{members.length}}/{{maxMembers}})
    </h3>

    <div>
        {{#if isOwnerOfLobby}}

        {{#linkTo "lobby.edit" this classNames="btn"}}
        Edit
        {{/linkTo}}
        {{#linkTo "lobby.delete" this classNames="btn btn-danger"}}
        Delete
        {{/linkTo}}

        {{else}}

        {{#if isMemberOfLobby}}

        <button class="btn"
        {{action "leave"}}>
        Leave
        </button>

        {{else}}

        <button class="btn"
        {{action "join"}}>
        Join
        </button>

        {{/if}}

        {{/if}}
    </div>
</div>

<div>
    <h3>
        Owner
    </h3>

    <p>
        {{#linkTo "player" owner}}
        {{owner.username}}
        {{/linkTo}}
    </p>
</div>

<div>
    <div class="row">
        <div class="span6">
            <h3>
                Members
            </h3>
        </div>

        <div class="span6">
            {{#if isOwnerOfLobby}}

            <h4 class="pull-right my-header-right">
                Kick
            </h4>

            {{/if}}
        </div>
    </div>

    <ul class="nav nav-tabs nav-stacked">
        {{each members itemController="player" itemViewClass="view.playerItem"}}
    </ul>
</div>
