<div>
    <h2>
        {{title}}
    </h2>

    <h3>
        ({{members.length}}/{{maxMembers}})
    </h3>

    <div>
        {{#if isOwnerOfLobby}}
            {{#linkTo "lobby.edit" this classNames="btn btn-default"}}
                Edit
            {{/linkTo}}

            {{#linkTo "lobby.delete" this classNames="btn btn-danger"}}
                Delete
            {{/linkTo}}
        {{else}}
            {{#if isMemberOfLobby}}
                <button {{action "leave"}} class="btn btn-default">
                    Leave
                </button>
            {{else}}
                <button {{action "join"}} class="btn btn-primary">
                    Join
                </button>
            {{/if}}
        {{/if}}
    </div>
</div>

<div>
    <h3>
        Owner
    </h3>

    <p>
        {{#linkTo "player.index" owner}}
            {{owner.username}}
        {{/linkTo}}
    </p>
</div>

<div>
    <!--TODO: There must be a better way to do this!-->
    <div class="row">
        <div class="col-xs-6">
            <span class="h3">
                Members
            </span>
        </div>

        <div class="col-xs-6">
            {{#if isOwnerOfLobby}}
                <span class="h4 pull-right">
                    Kick
                </span>
            {{/if}}
        </div>
    </div>

    <ul class="list-group">
        {{each members itemViewClass="view.playerItem"}}
    </ul>
</div>
