{{#formFor this}}

    {{input title placeholder="Title"}}
    {{input maxMembers placeholder="Max members"}}
    {{input password placeholder="Password"}}
    {{input passwordConfirmation label="Password confirmation" placeholder="Password confirmation"}}

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" {{action "save"}}>
                Save
            </button>
            {{#linkTo "lobby.index" this classNames="btn"}}
                Cancel
            {{/linkTo}}
        </div>
    </div>

{{/formFor}}
