<h2>
    {{username}}
</h2>

{{#if isOwnerOfAccount}}
    <div>
        {{#link-to 'player.edit' this classNames='btn btn-default'}}
            Edit
        {{/link-to}}

        {{#link-to 'player.delete' this classNames='btn btn-danger'}}
            Delete
        {{/link-to}}
    </div>
{{/if}}

<div>
    <h3>
        Owned Lobbies
    </h3>

    {{#if ownerships}}
        <div class="list-group">
            {{#each ownerships}}
                {{render 'lobby/helpers/item' this.lobby}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>

<div>
    <h3>
        Joined Lobbies
    </h3>

    {{#if memberships}}
        <div class="list-group">
            {{#each memberships}}
                {{render 'lobby/helpers/item' this.lobby}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>
