<h2>
    {{name}}
</h2>

{{#if isOwnerOfAccount}}
    <div>
        {{#link-to 'player.edit' this classNames='btn btn-default'}}
            Edit
        {{/link-to}}

        {{#link-to 'player.delete' this classNames='btn btn-danger'}}
            Delete
        {{/link-to}}
    </div>
{{/if}}

<div>
    <h3>
        Hosted Lobbies
    </h3>

    {{#if membershipsOfTypeHost}}
        <div class="list-group">
            {{#each membershipsOfTypeHost}}
                {{render 'lobby/helpers/item' lobby}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>

<div>
    <h3>
        Joined Lobbies
    </h3>

    {{#if membershipsOfTypeParticipant}}
        <div class="list-group">
            {{#each membershipsOfTypeParticipant}}
                {{render 'lobby/helpers/item' lobby}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>
