{{#formFor this}}

{{input username placeholder="Username"}}
{{input email placeholder="Email"}}
{{input password placeholder="Password"}}
{{input passwordConfirmation label="Password confirmation" placeholder="Password confirmation"}}

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary"
        {{action "save"}}>
        Save
        </button>
        {{#linkTo "player.index" this classNames="btn"}}
        Cancel
        {{/linkTo}}
    </div>
</div>

{{/formFor}}
