<div class="control-group">
    <label class="control-label" for="inputPlayerUsername">Username</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="username" id="inputPlayerUsername" placeholder="Username"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputPlayerEmail">Email</label>

    <div class="controls">
        {{view Ember.TextField valueBinding="email" id="inputPlayerEmail" placeholder="Email"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputPlayerPassword">Password</label>

    <div class="controls">
        {{view Ember.TextField type="password" valueBinding="password" id="inputPlayerPassword" placeholder="Password"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputPlayerConfirmPassword">Confirm password</label>

    <div class="controls">
        {{view Ember.TextField type="password" valueBinding="confirmPassword" id="inputPlayerConfirmPassword"
        placeholder="Confirm password"}}
    </div>
</div>

{{view view.output}}
