<div>
    <h2>
        {{title}}
    </h2>

    <h3>
        ({{amountOfPlayers}}/{{maxPlayers}})
    </h3>

    <div>
        {{#linkTo "lobby.edit" classNames="btn"}}
        Edit
        {{/linkTo}}
        {{#linkTo "lobby.delete" classNames="btn btn-danger"}}
        Delete
        {{/linkTo}}
    </div>
</div>
<div>
    <h3>
        Owner:
    </h3>

    <p>
        {{#linkTo "player" owner}}
        {{owner.username}}
        {{/linkTo}}
    </p>
</div>
<div>
    <h3>
        Players:
    </h3>
    <table class="table table-striped">
        {{#each players itemController="player"}}
        <tr>
            <td>
                {{view view.playerItem}}
            </td>
            <td>
                <button class="btn"
                {{action "kickPlayerFromLobby" this}}>
                Kick
                </button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
