<h2>
    {{controllers.lobby.title}}
</h2>
<h3>
    ({{controllers.lobby.amountOfPlayers}}/{{controllers.lobby.maxPlayers}})
</h3>
<p>
    {{#linkTo "lobby.edit" controllers.lobby classNames="btn"}}
    Edit
    {{/linkTo}}
</p>
<div>
    <h3>
        Owner:
    </h3>
    {{#linkTo "player" controllers.lobby.owner}}
    {{controllers.lobby.owner.name}}
    {{/linkTo}}
</div>
<div>
    <h3>
        Players:
    </h3>
    <ul class="nav nav-tabs nav-stacked">
        {{#each player in controllers.lobby.players itemController="player"}}
        <li>
            {{#linkTo "player" controller}}
                {{controller.name}}
                <button class="delete" {{action "deletePlayerFromLobby" player}}></button>
            {{/linkTo}}
        </li>
        {{/each}}
    </ul>
</div>
