<div>
    <h2>
        {{title}}
    </h2>

    <h3>
        ({{players.length}}/{{maxPlayers}})
    </h3>

    <div>

        {{#if isOwnerOfLobby}}

        {{#linkTo "lobby.edit" this classNames="btn"}}
        Edit
        {{/linkTo}}
        {{#linkTo "lobby.delete" this classNames="btn btn-danger"}}
        Delete
        {{/linkTo}}

        {{else}}

        <button class="btn"
        {{action "leave"}}>
        Leave
        </button>

        {{/if}}
    </div>

</div>
<div>
    <h3>
        Owner:
    </h3>

    <p>
        {{#linkTo "player" owner}}
        {{owner.username}}
        {{/linkTo}}
    </p>
</div>

<div>
    <h3>
        Players:
    </h3>

    <div class="accordion"
    {{bindAttr id="view.accordionId"}}>
    {{each players itemController="player" itemViewClass="view.playerItem"}}
</div>

</div>
