{{#formFor this}}
    {{input title placeholder="Title" as=focussed_textfield}}
    {{input maxMembers placeholder="Max members"}}
    {{input password placeholder="Password"}}
    {{input passwordConfirmation placeholder="Password confirmation"}}

    <button {{action "create"}} class="btn btn-primary">
        Create
    </button>

    {{#linkTo "lobby.list" classNames="btn btn-default"}}
        Cancel
    {{/linkTo}}
{{/formFor}}
