<h2>
    {{username}}
</h2>

{{#if isOwnerOfAccount}}
<div>
    {{#linkTo "player.edit" this classNames="btn"}}
    Edit
    {{/linkTo}}
    {{#linkTo "player.delete" this classNames="btn btn-danger"}}
    Delete
    {{/linkTo}}
</div>
{{/if}}

<div>
    <h3>
        Owned Lobbies:
    </h3>
    <div class="accordion" {{bindAttr id="view.accordionOwnedLobbiesId"}}>
        {{each ownedLobbies itemController="lobbyIndex" itemViewClass="view.ownedLobbyItem"}}
    </div>
</div>
<div>
    <h3>
        Joined Lobbies:
    </h3>
    <div class="accordion" {{bindAttr id="view.accordionJoinedLobbiesId"}}>
        {{each joinedLobbies itemController="lobbyIndex" itemViewClass="view.joinedLobbyItem"}}
    </div>
</div>
