{{#formFor this}}

{{input title placeholder="Title"}}
{{input maxPlayers placeholder="Max players"}}
{{input password placeholder="Password"}}
{{input passwordConfirmation label="Confirm password" placeholder="Confirm password"}}

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary"
        {{action "save"}}>
        Save
        </button>
        {{#linkTo "lobby.index" this classNames="btn"}}
        Cancel
        {{/linkTo}}
    </div>
</div>

{{/formFor}}
