<h2>
    {{username}}
</h2>

{{#if isOwnerOfAccount}}
    <div>
        {{#link-to "player.edit" this classNames="btn btn-default"}}
            Edit
        {{/link-to}}

        {{#link-to "player.delete" this classNames="btn btn-danger"}}
            Delete
        {{/link-to}}
    </div>
{{/if}}

<div>
    <h3>
        Owned Lobbies
    </h3>

    {{#if ownedLobbies.length}}
        <div class="list-group">
            {{#each ownedLobbies}}
                {{partial "helpers/item-lobby"}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>

<div>
    <h3>
        Joined Lobbies
    </h3>

    {{#if joinedLobbies.length}}
        <div class="list-group">
            {{#each joinedLobbies}}
                {{partial "helpers/item-lobby"}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>
