<h2>
    {{username}}
</h2>

{{#if isOwnerOfAccount}}
    <div>
        {{#linkTo "player.edit" this classNames="btn btn-default"}}
            Edit
        {{/linkTo}}

        {{#linkTo "player.delete" this classNames="btn btn-danger"}}
            Delete
        {{/linkTo}}
    </div>
{{/if}}

<div>
    <h3>
        Owned Lobbies
    </h3>
    {{#if ownedLobbies.length}}
        <div class="list-group">
            {{#each ownedLobbies}}
                {{partial "lobby/helpers/item"}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>

<div>
    <h3>
        Joined Lobbies
    </h3>
    {{#if joinedLobbies.length}}
        <div class="list-group">
            {{#each joinedLobbies}}
                {{partial "lobby/helpers/item"}}
            {{/each}}
        </div>
    {{else}}
        none
    {{/if}}
</div>
