{{#formFor this}}
    {{input username placeholder="Username"}}
    {{input email placeholder="Email"}}
    {{input password placeholder="Password"}}
    {{input passwordConfirmation label="Password confirmation" placeholder="Password confirmation"}}

    <button {{action "create"}} class="btn btn-primary">
        Sign up
    </button>

    {{#linkTo "index" classNames="btn btn-default"}}
        Cancel
    {{/linkTo}}
{{/formFor}}
